body {
    background-image: linear-gradient(to right, pink, purple);
}
.gradient, .MainBody{
    margin: 0%;
    padding: 0%;
    height: 300%;
}
.aboutme{
    font-size: 20pt;
    position: absolute;
    top: 40px;
    left: 350px;
}
.home{
    position: fixed;
    top: 0px;
    left: 10;
}
.about{
    position: fixed;
    top: 0px;
    left: 675px;
}
.contact{
    position: fixed;
    top: 0px;
    left: 1379px;
}
.test{
    position: absolute;
    top: 5000px;
}
.skills{
    font-family:'Courier New', Courier, monospace;
    border-spacing: 30px;
    position: absolute;
    top: 300px;
    left: 320px;
}
.header{
    position: absolute;
    left: 390px;
    font-size: 42pt;
}
.photo{
    height: 350px;
    position: absolute;
    top: 15px;
    left: 20px;
}
.skillstext{
    position: absolute;
    top: 270px;
    left: 730px;
}
.projectstext{
    position: absolute;
    top: 500px;
    left: 346px;
}
.projects{
    position: absolute;
    top: 540px;
    left: 320px;
    border-spacing: 25px;
}