body {
    background-image: linear-gradient(to right, pink, purple);
}
.gradient, .MainBody{
    margin: 0%;
    padding: 0%;
    height: 130%;
}
.aboutme{
    font-size: 20pt;
    position: absolute;
    top: 40px;
    left: 350px;
}
.home{
    position: fixed;
    top: 0px;
    left: 10;
}
.about{
    position: fixed;
    top: 0px;
    left: 675px;
}
.contact{
    position: fixed;
    top: 0px;
    left: 1379px;
}
.skills{
    font-family:'Courier New', Courier, monospace;
    border-spacing: 30px;
    position: absolute;
    top: 300px;
    left: 320px;
}
.header{
    position: absolute;
    left: 390px;
    font-size: 42pt;
}
.photo{
    height: 350px;
    position: absolute;
    top: 15px;
    left: 20px;
}
.skillstext{
    position: absolute;
    top: 270px;
    left: 730px;
    font-size: 18pt;
}
.projectstext{
    position: absolute;
    top: 360px;
    left: 85px;
}
.projects{
    position: absolute;
    top: 400px;
    left: 60px;
    border-spacing: 25px;
}
.resume{
    position: absolute;
    top: 550px;
    left: 900px;
    width: 500px;
}
.projectdesc{
    position: absolute;
    top: 520px;
    left: 70px;
}
.skilllogo{
    width: 60px;
}
.skilllogo2{
    width: 100px;
}
@media only screen and (max-width:650px){
    body {
        background-image: linear-gradient(to right, pink, purple);
    }
    .gradient, .MainBody{
        margin: 0%;
        padding: 0%;
        width: 100%;
        height: 170%;
    }
    .aboutme{
        font-size: 20pt;
        position: absolute;
        top: 350px;
        left: 10px;
    }
    .home{
        position: fixed;
        top: 0px;
        left: 10;
    }
    .about{
        position: fixed;
        top: 0px;
        left: 675px;
    }
    .contact{
        position: fixed;
        top: 0px;
        left: 1379px;
    }
    .skills{
        font-family:'Courier New', Courier, monospace;
        font-size: 6pt;
        position: absolute;
        top: 830px;
        left: 0px;
    }
    .header{
        position: absolute;
        top: 20px;
        left: 360px;
        font-size: 26pt;
        font-weight: bold;
    }
    .photo{
        height: 350px;
        position: absolute;
        top: 15px;
        left: 20px;
    }
    .skillstext{
        position: absolute;
        top: 800px;
        left: 260px;
        font-size: 18pt;
    }
    .projectstext{
        position: absolute;
        top: 1680px;
        left: 250px;
    }
    .projects{
        position: absolute;
        top: 1710px;
        left: 225px;
        border-spacing: 25px;
    }
    .resume{
        position: absolute;
        top: 1000px;
        left: 70px;
        width: 500px;
    }
    .projectdesc{
        position: absolute;
        top: 1830px;
        left: 180px;
    }
    .skilllogo{
        width: 20px;
    }
    .skilllogo2{
        width: 40px;
    }
}